<!-- <button (click)="increment()">Increment</button>

<div>Current Count: {{ count$ | async }}</div>

<button (click)="decrement()">Decrement</button> -->
<div>
    <h2>Tasks</h2>
  
    <!-- Add Task Form -->
    <form (submit)="addTask(newTaskTitle.value)">
      <input type="text" placeholder="Enter task title" #newTaskTitle required>
      <button type="submit">Add Task</button>
    </form>
  
    <!-- Task List -->
    <ul>
      <li *ngFor="let task of getTasks() | async|keyvalue">
        {{task|json}}
        <!-- <input type="checkbox" [checked]="task.completed" (change)="updateTask(task)">
        <span [class.completed]="task.completed">{{ task.title }}</span>
        <button (click)="deleteTask(task.id)">Delete</button> -->
      </li>
    </ul>
  </div>
  