.container {
  height: calc(100vh - 64px); /* Adjust the value to account for the height of your toolbar */
}

.navbar-brand {
  flex-grow: 1;
}

/* .close-button {
  position: absolute;
  top: 12px;
  right: 12px;
} */
